/* Empty. Add your own CSS if you like */

/*SCHRITT 1*/
.pane{
  background: #222 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQIHWNgYGD4D8TEAewqAVXuAf+yw+rnAAAAAElFTkSuQmCC);
  color: #fff;
}


.temperature-slider {
  position: relative;
  z-index: 1000;
  height: 80%;
  display: block;
}

.temperature-indicator {
  font-family: 'Open Sans Condensed', sans-serif;
  left: 50%;
  margin-left: -120px;
  padding: 10px;
  width: 220px;
  text-align: center;
  font-size: 92px;
}

.temperature-button {
  position: absolute;
  top: 50%;
}

.temperature-label {
  position: absolute;
  margin-top: 10px;
  padding: 3px;
  left: 5px;
  font-weight: bold;
}

.temperature-label:before{
  content: "–";
  position: absolute;
  left: -20%;
  color: #C0392B;
  font-weight: bold;
}


.current-temperature {
  position: absolute;
  top: 0;
  left: 50%;
}

.guess {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 250px;
  margin-left: -125px;
  z-index: 1001;
}